@import '../../styles/vars.scss';
@import '../../styles/mixin.scss';

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $frame-padding;
  gap: 12px;
  width: 384px;
  background: $background-color-base;
  border: $frame-border;
  box-shadow: $box-shadow;
  border-radius: $frame-radius;

  &__wrapper {
    @include center;
    margin: 60px 0;
  }

  &__title {
    @include authTitle;
  }

  &__label {
    @include authLabel;
  }

  &__input {
    @include authInput;
  }

  &__submit {
    @include authButton;
    margin-top: 20px;
  }

  p {
    color: red;
  }

  .account {
    @include account;
  }
}
