@import '../../styles/vars.scss';
@import '../../styles/mixin.scss';

.article {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: $background-color-base;
  padding: 15px 14px 24px 16px;
  width: 938px;
  margin-bottom: 26px;

  &__titleWraper {
    display: flex;
    align-items: baseline;
    gap: 13px;
  }

  &__info {
    width: 70%;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__title {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: 20px;
    line-height: 28px;
    color: $info-color;
    @include truncate-title;
  }
  &__likesCount {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: $font-family;
    font-size: 12px;
    line-height: 22px;
    color: $text-color;

    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__tags {
    display: flex;
    margin: 6px 0;
    gap: 8px;
  }
  &__tag {
    @include center;
    height: 20px;
    overflow: hidden;
    border: 1px solid $text-color-secondary;
    border-radius: 2px;
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 12px;
    line-height: 15px;
    color: $text-color-secondary;
    padding: 5px;
  }
  &__description {
    font-family: $font-family;
    font-size: 12px;
    line-height: 22px;
    color: $text-color;
    @include truncate-description;
  }
  &__userName {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: 18px;
    line-height: 28px;
    color: $heading-color;
  }
  &__date {
    font-family: $font-family;
    font-size: 12px;
    line-height: 22px;
    color: $text-color-secondary;
  }
  &__avatar {
    @include avatar;
  }
}
